<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width", initial-scale="1.0">
    <title>Document</title>
    <link href="../static/css/styleSendingInv.css" rel="stylesheet">
</head>
<body>
    <div class="comment-box">
        <p>Send Invitation/Newsletters</p>
        <form class="comment-form">
        <input type="email" placeholder="Email">
        <textarea rows="20" placeholder="Write your Message"></textarea>
        <label for="Batch">Batch</label>
        <select id="Batch">
           <option value="Batch1">2016</option>
           <option value="Batch2">2017</option>
           <option value="Batch3">2018</option>
           <option value="Batch4">2019</option>
        </select><br><br>
        <label for="file">Attach file:</label>
        <br>
        <input type="file" id="file">
        <button type="submit">Send</button>
        <button type="submit">Send to Group</button>
    </form>
    </div>
</body>
</html>